.m-7{
    background-color: rgba(65, 65, 65, 0.504);
    width:400px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 15px;
    border: solid 3px white;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom:10px;
}
.m-7 h1{
    margin: 10px 0 0 0;
    font-size: 35px;
}
.m-7 label{
color:rgb(217, 216, 216)
}
.m-7 input, textarea{
    background-color: rgba(53, 53, 53, 0.66);
    border: solid 1px white;
    width:350px;
    font-size:20px;
}
.m-7 textarea{
    height:200px;
}
.m-7 button{
    padding:15px;
    font-size: 20px;
    margin-bottom:-10px;
    border-radius: 15px;
    color:white;
    border: solid 3px var(--site-accent)
}
a{
    color:var(--site-accent-light);
}